<div class="container">
  <div class="page-header">
    <h1>Fantasy League Leaderboard:</h1>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Username</th>
      <th>Baseball Team</th> 
      <th>Football Team</th> 
      <th>Basketball Team</th>
      <th>Hockey Team</th> 
    </tr>
    <tr>
      <% @users.each do |u| %>
      <td><%= link_to u.name, user_path(u) %></td>
      <% u.selections.each do |s| %>
      <td><%= s.baseball_team %></td> 
      <td><%= s.football_team %></td>
      <td><%= s.basketball_team %></td> 
      <td><%= s.hockey_team %></td>
    </tr>
    <% end %>
    <% end %>
  </table>

<% if needs_selections?(current_user) %>
  <%= link_to "Add Selections", new_user_selection_path(current_user), class: "btn btn-primary btn-lg" %>
<% end %>

</div>