<div class="container">
	<h1>Fantasy League Leaderboard</h1>

<table class="table table-striped">
<tr>
  <th>Username</th>
  <th>Baseball Team</th> 
  <th>Football Team</th> 
  <th>Basketball Team</th>
  <th>Hockey Team</th> 
</tr>
<tr>
<% @users.each do |u| %>
  <td><%= u.name %></td>
 <% @selections.where(:user_id => u.id).each do |s| %>
  <td><%= s.baseball_team %></td> 
  <td><%= s.football_team %></td>
  <td><%= s.basketball_team %></td> 
  <td><%= s.hockey_team %></td>
</tr>
<% end %>
<% end %>
</table>

</div>