<div class="container">
<h2>Create an account:</h2>

<%= form_for @user do |f| %>
<%= f.text_field :name, placeholder: "Username" %>
<%= f.text_field :email, placeholder: "Email address" %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.submit "Sign me up!" %>
<% end %>

<br />
<p>Already have an account? <%= link_to "Sign in here", new_sessions_path %></p>
</div>